<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Our Ciry</title>
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

		<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
		<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>

		<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<script src="js/city.js"></script>
	</head>
	<body>
		<div id="city">
			<table class="table table-hover">
				<thead>
					<tr>
						<th><a href="/index.html" class="btn btn-link">返回</a> </th>
						<th colspan="4">
							<input v-model="countryCode" placeholder="Country Code" @keyup.enter="findCiryByCountryCode(1)" />
							<input v-model="cityName" placeholder="City Name" @keyup.enter="findCiryByCountryCode(1)" />
							<button @click="findCiryByCountryCode(1)" class="btn btn-default btn-sm">查找</button>
						</th>
					</tr>
					<tr>
						<th>ID</th>
						<th>name</th>
						<th>district</th>
						<th>population</th>
						<th>countryCode</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="city in paging.list">
						<td>{{city.id}}</td>
						<td>{{city.name}}</td>
						<td>{{city.district}}</td>
						<td>{{city.population}}</td>
						<td>{{city.country.code}}</td>
					</tr>

				</tbody>
			</table>
			<div align="center">
				<ul :class="'pagination pager'">
					<li v-if="paging.hasPreviousPage" :class="'previous'">
						<a href="#" @click="findCountry(paging.prePage)">上一页</a>
					</li>
					<li v-else :class="'previous disabled'">
						<a href="#" @click="findCountry(paging.prePage)">上一页</a>
					</li>
					<template v-for="pageNum in paging.navigatepageNums">
						<li v-if="pageNum != paging.pageNum">
							<a href="#" @click="findCountry(pageNum)">{{pageNum}}</a>
						</li>
						<li :class="'active'" v-else>
							<a href="#">{{pageNum}}</a>
						</li>
					</template>
					<li v-if="paging.hasNextPage" :class="'next'">
						<a href="#" @click="findCountry(paging.nextPage)">下一页</a>
					</li>
					<li v-else :class="'next disabled'">
						<a href="#" @click="findCountry(paging.nextPage)">下一页</a>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
